html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    transition: 500ms ease-in-out;
}

#main p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Helvetic Neue", Helvetica, Arial;
    font-size: 4em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
}

.en {
    background: blue;
}

.es {
    background:darkgreen;
}

.jp {
    background: red;
}

.cn {
    background: fuchsia;
}

.kr {
    background: violet;
}

.fr {
    background: saddlebrown;
}

.ph {
    background: darkred;
}

